- if flash.keys.any?
  - flash.keys.each do |key|
    %div{:class => "alert alert-#{key == 'notice' ? 'success' : 'danger'}", :role => "alert"}
      %a.close{"data-dismiss" => "alert"} ×
      = flash[key]
