= render 'shared/content_title', title: "New Category"
.container
  .row
    .col-sm-6.well
      = simple_form_for @category do |f|
        = f.input :name               
        = f.button :submit